In [10]:
# Assignment 8.1
# Problem 1: Dimensionality Reduction
# Author: Saurabh Biswas
# DSC550 T302

In [11]:
# Import importatant libraries
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from numpy import linalg as la

# Part A

In [12]:
movie_names = ['M', 'N', 'P', 'Q', 'R']  # movie names i.e. column names
movie_raters = ['A', 'B', 'C']  # movie raters i.e. index names

df1 = pd.DataFrame(np.array([[1, 2, 3, 4, 5], [2, 3, 2, 5, 3], [5, 5, 5, 3, 2]]), columns=movie_names, 
                  index= movie_raters)

df1

   M  N  P  Q  R
A  1  2  3  4  5
B  2  3  2  5  3
C  5  5  5  3  2

In [13]:
# calculate average of each row and subtract that from each element of that row.
row_avg= df1.mean(axis=1)  # get average of each row
df1 = df1.sub(row_avg,axis=0)  
df1

     M    N    P    Q    R
A -2.0 -1.0  0.0  1.0  2.0
B -1.0  0.0 -1.0  2.0  0.0
C  1.0  1.0  1.0 -1.0 -2.0

In [14]:
# calculate average of each column and subtract that from each element of that column.
col_avg= df1.mean(axis=0)  # get average of each column
df1 = df1.sub(col_avg,axis=1)  
df1

          M    N    P         Q    R
A -1.333333 -1.0  0.0  0.333333  2.0
B -0.333333  0.0 -1.0  1.333333  0.0
C  1.666667  1.0  1.0 -1.666667 -2.0

# Part B

Cosine similarities between two non zero vector is nothing but the cosine angle between those tow vector.
Cosine distance = 1 - cosine simiarity. We can use sklearn's pairwise cosine similarity to calculate the cosine angle between each row of the given matrix i.e. between A & B, B & C and A & C. If cosine simraity between two vector is 1 then the angle between them is 0, that means they are similar. On the otherhand if both vector's cosine similarity is 0, then they are orthogonal.

In [15]:
def cosine_sim(vector, scale):
    """
    Function to calculate cosine similarity
    """
    for i in range(len(vector)):
        vector[i][5] = vector[i][5]*scale   # change ratings by multiplying with scale


    print('\nPairwise cosine similarity for alpha=', alpha)
    
    similarities = cosine_similarity(vector[0].reshape(1,-1), vector[1].reshape(1,-1), dense_output=False)
    print('Between A & B: {:.4f}'.format(similarities[0][0]))
    
    similarities = cosine_similarity(vector[1].reshape(1,-1), vector[2].reshape(1,-1), dense_output=False)
    print('Between B & C: {:.4f}'.format(similarities[0][0]))
    
    similarities = cosine_similarity(vector[0].reshape(1,-1), vector[2].reshape(1,-1), dense_output=False)
    print('Between A & C: {:.4f}'.format(similarities[0][0]))
    
    return

In [16]:

# calculate pairwise cosine of angle for each alpha.
for alpha in [0, 0.5, 1, 2]:
    user_rating_vector = np.array([[1, 0, 1, 0, 1, 2], [1, 1, 0, 0, 1, 6], [0, 1, 0, 1, 0, 2]])
    cosine_sim(user_rating_vector, alpha)

Pairwise cosine similarity for alpha= 0
Between A & B: 0.6667
Between B & C: 0.4082
Between A & C: 0.0000

Pairwise cosine similarity for alpha= 0.5
Between A & B: 0.7217
Between B & C: 0.6667
Between A & C: 0.2887

Pairwise cosine similarity for alpha= 1
Between A & B: 0.8473
Between B & C: 0.8498
Between A & C: 0.6172

Pairwise cosine similarity for alpha= 2
Between A & B: 0.9461
Between B & C: 0.9526
Between A & C: 0.8652

# Part D

We will caulculate the product of transpose of the given matrix with the matrix itself. Then use that product to get the eigenvalues and eigenvectors using numpy linalg function

In [17]:
M = np.array([[1,1],[2,2],[3,4]])  # given 2d array
MTM = np.dot(M.transpose(),M)   # Muliply M transpose with M to get the square matrix
MTM

array([[14, 17],
       [17, 21]])

In [18]:
eigenvalues, eigenvectors = la.eig(MTM)  # get eigenvalue and eigenvectors
print('eigenvalues are:', eigenvalues)    # display eigenvalues
print('eigenvectors are:\n', eigenvectors)  # display eigenvectors

eigenvalues are: [ 0.14344504 34.85655496]
eigenvectors are:
 [[-0.77512996 -0.63180182]
 [ 0.63180182 -0.77512996]]